body {
  background-color: aliceblue;
}

h1 {
  color: rgb(22, 184, 130);
  margin-top: 30px;
  text-align: center;
  margin: auto;
  font-size: 60px;
  padding: 60px;
}
textarea {
  margin-left: 50%;
  margin-right: 50%;
  margin: auto;
  margin-left: 40%;
  margin-top: 3%;
}
